@model InstaPet.DomainModel.Entities.Comment

@{
    ViewData["Title"] = "Create";
}

<h4>New Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <input type="hidden" value="@ViewBag.PostId" name="postId" />
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">By</label>
                <select name="creatorId"
                        asp-items="@(new SelectList(ViewBag.Pets, "Id", "Name"))"
                        class="form-control">
                    <option>Select the comment creator</option>
                </select>
            </div>            
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="PhotoUrl" />
                <label class="control-label">Photo</label>
                <input type="file" name="photoFile" />
            </div>
            <div class="form-group">
                <label asp-for="PublishDateTime" class="control-label"></label>
                <input asp-for="PublishDateTime" class="form-control" />
                <span asp-validation-for="PublishDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
